#hero {
    grid-area: hero;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 450px;
    color: white;
    text-align: center;
}

.hero-home {
    background: url("../img/hero/home.jpg");
}

.hero-about {
    background: url("../img/hero/about.jpg");
}

.hero-friends {
    background: url("../img/hero/friends.jpg");
}

.hero-global {
    background: url("../img/hero/global.jpg");
}

.hero-contact {
    background: url("../img/hero/contact.jpg");
}

#hero {
    padding: 0 1.5em;
}



#hero h4 {
    font-size: 1em;
    line-height: 1.2em;
}

.hero-background {
    position: absolute;
    opacity: 0.6;
    width: 100%;
    min-height: 450px;
    background-color: black;
    z-index: 0;
}

.hero-container {

    z-index: 2;
}

